OPENAI_API_KEY=
GOOGLE_PLACES_API_KEY=
APIFY_API_TOKEN=
CLICKUP_API_TOKEN=
CLICKUP_WORKSPACE_ID=
MAKE_WEBHOOK_URL=
MAKE_WEBHOOK_ENABLED=false
MAKE_API_TOKEN=
MAKE_ORGANIZATION_ID=
MAKE_TEAM_ID=
MAKE_FOLDER_ID=
MAKE_SCENARIO_ID=
MAKE_API_BASE_URL=https://eu1.make.com/api/v2
PROJECT_ENV=local
